.Ou {
  background-color: white;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5px;
}


.OuType {
  color: #2984c5;
  background-color: #f1f7fc;
  border-color: #c7e1f3;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  font-weight: bold;
  padding: 5px;
  margin: 2.5px;
  cursor: pointer;
}

.OuType:hover{
  background-color: #2984c5;
  color: #f1f7fc;
  border-color: #c7e1f3;
}

.OuTypeOpen{
  background-color: #2984c5;
  color: #f1f7fc;
  border-color: #c7e1f3;
}

.OuPopover{
  display: flex;
  width:300px;
  flex-direction: column;
  overflow-y: auto;
  max-height: 205px;
}

.OuItem{
  margin: 5px;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.OuSearch{
  margin: 5px;
  padding: 10px;
  padding-bottom: 4px;
  margin-bottom: 0;
}

.OuSearchContainer{
  width:inherit;
  position: fixed;
  padding-bottom: 15px;
}

.OuSearchInput{
  margin: 15px;
  margin-bottom: 0;
  margin-top: 0;
  width: calc(100% - 30px);
}


.OuSearchItems{
  margin-top: 70px;
}

.feedback-icon{
  color: #dc402b;
  cursor: pointer;
}

.feedback-icon:hover{
  font-size: 1.2em;
}