.cm-s-base16-light-custom.CodeMirror { background: #ffffff; color: #202020; height: auto }
.cm-s-base16-light-custom div.CodeMirror-selected { background: #e0e0e0; }
.cm-s-base16-light-custom .CodeMirror-line::selection, .cm-s-base16-light-custom .CodeMirror-line > span::selection, .cm-s-base16-light-custom .CodeMirror-line > span > span::selection { background: #e0e0e0; }
.cm-s-base16-light-custom .CodeMirror-line::-moz-selection, .cm-s-base16-light-custom .CodeMirror-line > span::-moz-selection, .cm-s-base16-light-custom .CodeMirror-line > span > span::-moz-selection { background: #e0e0e0; }
.cm-s-base16-light-custom .CodeMirror-gutters { background: #f5f5f5; border-right: 0px; }
.cm-s-base16-light-custom .CodeMirror-guttermarker { color: #DC402B; }
.cm-s-base16-light-custom .CodeMirror-guttermarker-subtle { color: #b0b0b0; }
.cm-s-base16-light-custom .CodeMirror-linenumber { color: #ddd; }
.cm-s-base16-light-custom .CodeMirror-cursor { border-left: 1px solid #505050; }

.cm-s-base16-light-custom span.cm-comment { color: #8f5536; }
.cm-s-base16-light-custom span.cm-atom { color: #aa759f; }
.cm-s-base16-light-custom span.cm-number { color: #aa759f; }

.cm-s-base16-light-custom span.cm-property { color: #2984C5; }
.cm-s-base16-light-custom span.cm-attribute { color: #e06c75; }
.cm-s-base16-light-custom span.cm-keyword { color: #c678dd; }
.cm-s-base16-light-custom span.cm-string { color: rgb(101, 194, 90); }

.cm-s-base16-light-custom span.cm-variable { color: #90a959; }
.cm-s-base16-light-custom span.cm-variable-2 { color: #e06c75; }
.cm-s-base16-light-custom span.cm-def { color: #e06c75; }
.cm-s-base16-light-custom span.cm-bracket { color: #202020; }
.cm-s-base16-light-custom span.cm-tag { color: #DC402B; }
.cm-s-base16-light-custom span.cm-link { color: #aa759f; }
.cm-s-base16-light-custom span.cm-error { background: #DC402B; color: #505050; }

.cm-s-base16-light-custom .CodeMirror-activeline-background { background: #DDDCDC; }
.cm-s-base16-light-custom .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }


#app-logo-full{
  animation: spin 4s linear infinite;    
  filter: invert(1) brightness(6);
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  } 
  100% { 
    transform: rotate(259deg);
  }
}
